.content {
  display: flex;
}

.issues {
  display: flex;
  flex-direction: column;
}

.repos:before {
  content: 'Repos'
}

.repos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.repo {
  margin: 10px;
  padding: 10px;
  background: hotpink;
  border-radius: 2px;
}
